
.sparklineContainer {
  background: #dee2e6;
  width: 300px;
}

.headerTrain {
  margin-top: 80px;
  text-align: center;
  width: 100%;
  background: lightblue;
  padding: 10px 0;
  margin-bottom: 20px;
}


.Sparklines {
  display: flex;
  justify-content: space-between; 
  margin-top: 50px;
}
